<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <span class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </span>
  </div>
  <div class="modal-body">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Username" aria-label="Username" formControlName="username"/>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" aria-label="Password" formControlName="password"/>
      </mat-form-field>
      <br/>
      <input [disabled]="!loginForm.valid" type="submit" value="Log in" id="login-btn"
             class="btn btn-primary"/>

    </form>
  </div>
</ng-template>

<button *ngIf="!loggedIn" class="btn btn-outline-primary" (click)="open(content)">Log in</button>
<button *ngIf="loggedIn" class="btn btn-outline-secondary" (click)="logOut()">Log out</button>
