---
language: node_js
sudo: false

node_js:
  - "lts/*"

python:
    - "3.5"

cache:
  directories:
    - ui/node_modules

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

install:
  - cd ui; npm install

script:
  - cd ui; npm run test -- --watch=false --progress=false --browsers=ChromeHeadlessCI
  - cd ui; npm run e2e -- --protractor-config=./e2e/protractor-ci.conf.js
  - cd ui; npm run doc
  - cd ui; npx ng lint
  - cd ui; npm run build --prod

deploy:
  - provider: script
    skip_cleanup: true
    script: cd ui; scripts/travis-deploy.sh
    on:
      branch: master
