/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ol/ol.css';

:root {
  --topnav-height: 4em;
}

html, body {
  height: 100%;
  margin: 0;
}

.ol-zoom {
  right: 0.5em;
  left: inherit;
}

.ol-rotate {
  top: 4.5em;
}

.ol-control button {
  cursor: pointer;
}