<div id="map" class="map"></div>


<div id="menu">
  <div id="menu-toggle-btn">
    <i class="btn btn-default fa fa-bars" (click)="showMenu = !showMenu"></i>
  </div>
  <div id="menu-content" *ngIf="showMenu">
    <div id="export-gpx">
      <span class="btn btn-link" (click)="exportGpx()">Export to gpx</span>
    </div>
    <div id="import-gpx">
      <label class="btn btn-link">Import gpx file
      <input type="file" (change)="importGpx($event.target.files)" style="display: none"/>
      </label>
    </div>
  </div>
</div>

