.place-search-form {
  width: 400px;
  position:absolute;
  left: 0.5em;
  top: 0.5em;
  z-index: 1000;
  border-radius: 2px;
  padding: 5px;
  background-color: #ffffffb5;

 .mat-form-field {
   width: 100%;
 }
}
