#map {
  width: 100%;
  height: calc(100vh - var(--topnav-height));
  position: fixed;
}

#menu {
  position: fixed;
  margin-top: 1em;

  #menu-toggle-btn {
    background-color: #ffffffb5;
    display: inline-block;
    color: #4d91c1;
  }
  #menu-content {
    padding: 10px;
    width: 300px;
    background-color: #ffffffb5;
    border-radius: 4px;
  }
}