<div id="map" class="map"></div>


<div id="menu">
  <!-- <div id="menu-toggle-btn">
    <i class="btn btn-default fa fa-bars" (click)="showMenu = !showMenu"></i>
  </div> -->
  <div id="menu-content" *ngIf="showMenu">

    <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup name="profileRadio" [(ngModel)]="profile" (change)="changeProfile()">
        <label ngbButtonLabel class="btn-secondary">
          <input ngbButton type="radio" value="walking"> Walking
        </label>
        <label ngbButtonLabel class="btn-secondary">
          <input ngbButton type="radio" value="cycling"> Cycling
        </label>
      </div> -->

  <div *ngIf="!currentTrack">
    <h5>My tracks</h5>
    <div><a (click)="createNewTrack()" href="#">New track</a></div>
    <div *ngFor="let track of userTracks">
      <a (click)="viewTrack(track.id)" href="#">{{track.name}}</a>
    </div>
  </div>


  <div *ngIf="currentTrack && isEditing">
    <input *ngIf="loggedIn" [(ngModel)]="currentTrack.name" #name="ngModel" placeholder="Track name">
    <div *ngIf="hasPoints"><a href="#" (click)="deleteLastPoint()">Delete last point</a></div>
    <div *ngIf="loggedIn && hasPoints && name.dirty"><a href="#" (click)="saveTrack()">Save track</a></div>
    <div><a href="#" (click)="stopEditing()">Back to list</a></div>
  </div>


  <div *ngIf="currentTrack && !isEditing">
    <div><span>{{currentTrack.name}}</span></div>
    <div><a href="#" (click)="editTrack()">Edit</a></div>
    <div><a href="#" (click)="deleteTrack()">Delete</a></div>
    <div><a href="#" (click)="stopEditing()">↩ Back to list</a></div>
  </div>

  <hr />
  <div>
    <div *ngIf="hasPoints"><span class="p-0 btn btn-link" (click)="exportGpx()">Export to gpx</span></div>

    <div>
      <label class="p-0 btn btn-link">Import gpx file
      <input type="file" (change)="importGpx($event.target.files)" style="display: none"/>
      </label>
    </div>
  </div>
</div>

